<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show Info All User</title>
</head>
<body>
<h1>Information all user's</h1>

<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Password</th>
        <th>Role</th>
        <th>Operation</th>
    </tr>
    <tr th:each="user:${allUser}">
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getUsername()}"></td>
        <td th:text="${user.getEmail()}"></td>
<!--        <td th:text="${user.getPassword()}">-->
        <td>******</td>

        </td>
        <td th:text="${user.getRoles()}"></td>
        <td>
            <a th:href="@{/admin/update/{id}(id=${user.getId()})}">Update</a>
            <form th:method="DELETE" th:action="@{/admin/delete/{id} (id=${user.getId()})}">
                <input type="submit" value="DELETE">
            </form>
        </td>
    </tr>
</table>
<br>
<input type="button" value="Add new user"
       onclick="window.location.href='/admin/create'"/>
<br>
<br>
<br>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Exit">
</form>
</body>
</html>