<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>
</head>
<body>

<nav class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container-fluid">
        <p class="navbar-brand text-white">
            <b><span th:text="${admin.getEmail()}"></span></b> with roles:
            <span th:each="role : ${admin.getRoles()}">
                  <b th:text="${role.getRole().substring(5)}"></b></span>
        </p>
        <form th:action="@{/logout}" method="post">
            <button type="submit" class="btn btn-dark text-secondary">Logout</button>
        </form>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-2 px-0 ">
            <ul class="list-group-flush px-0 py-2 ">
                <li class="list-group-item active" aria-current="true" th:href="@{/admin}">Admin</li>
                <a class="nav-item nav-link" th:href="@{admin/adminview}">User</a>
            </ul>
        </div>

        <div class="col-sm-10 text-left tab-content bg-light" id="nav-tabContent">
            <div class="tab-pane fade show active tab-content text-left" id="userPanel" role="tabpanel">
                <h1 style="color: black" class="m-3">Admin panel</h1>
                <div class="bg-light">

                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="/admin">Users Table</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="/admin/new">New User</a>
                        </li>
                    </ul>

                    <div class="tab-pane fade show active" id="users">
                        <div class="gray border">
                            <h3 style="text-align: left; margin: 1%"> All users</h3>
                        </div>

                        <div style="margin:1% ">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th width=20%>ID</th>
                                    <th width=20%>First Name</th>
                                    <th width=20%>Last Name</th>
                                    <th width=10%>Age</th>
                                    <th width=20%>Email</th>
                                    <th width=10%>Role</th>
                                    <th width=10%>Edit</th>
                                    <th width=10%>Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="user : ${users}">
                                    <td th:text="${user.getId()}"></td>
                                    <td th:text="${user.getUsername()}"></td>
                                    <td th:text="${user.getLastName()}"></td>
                                    <td th:text="${user.getAge()}"></td>
                                    <td th:text="${user.getEmail()}"></td>
                                    <td>
                                        <th:block th:each="role : ${user.getRoles()}">
                                            <p th:text="${role.getRole().substring(5)}">Role</p>
                                        </th:block>
                                    </td>
                                    <td>
                                        <a type="button" class="btn btn-sm btn-info" data-bs-toggle="modal"
                                           data-bs-target="#editModal"
                                           th:data-bs-target="${'#editModal'+user.id}">
                                            Edit
                                        </a>
                                    </td>
                                    <td>
                                        <a type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal"
                                           th:data-bs-target="${'#DELETE'+user.id}">
                                            Delete
                                        </a>
                                    </td>
                                    <div class="modal fade" th:id="${'editModal'+user.id}" tabindex="-1"
                                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="editModalLabel">Edit user</h5>
                                                    <button type="button" class="btn-close"
                                                            data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                </div>
                                                <form th:action="@{/admin/{id}/update(id=${user.getId()})}"
                                                      th:object="${user}"
                                                      th:method="patch">
                                                    <div class="modal-body col-md text-center">
                                                        <label for="id0"><b>ID</b></label>
                                                        <input th:name="id" th:type="text" class="form-control"
                                                               id="id0" th:value="${user.id}" readonly="true"/>
                                                        <br>
                                                        <label for="firstname0"><b>First name</b></label>
                                                        <input th:name="firstName" th:type="text"
                                                               class="form-control" id="firstname0"
                                                               th:value="${user.firstName}"/>
                                                        <br>
                                                        <label for="lastname0"><b>Last name</b></label>
                                                        <input th:name="lastName" th:type="text"
                                                               class="form-control" id="lastname0"
                                                               th:value="${user.lastName}"/>
                                                        <br>
                                                        <label for="age0"><b>Age</b></label>
                                                        <input th:name="age" th:type="number"
                                                               class="form-control" id="age0"
                                                               th:value="${user.age}"/>
                                                        <br>
                                                        <label for="email"><b>E-mail</b></label>
                                                        <input th:name="email" th:type="text"
                                                               class="form-control" id="email"
                                                               th:value="${user.email}"/>
                                                        <br>
                                                        <label for="password0"><b>Password</b></label>
                                                        <input th:name="password" th:type="password"
                                                               class="form-control" id="password0"
                                                               th:value="${user.password}"/>
                                                        <br>
                                                        <label class="container-fluid col-6"
                                                               for="UserRolesEdit">
                                                            <strong>Role</strong>
                                                            <select id="UserRolesEdit"
                                                                    class="form-select"
                                                                    name="roles"
                                                                    multiple size="2">
                                                                <option th:each="role: ${listRoles}"
                                                                        th:value="${role.getId()}">
                                                                    <th:block
                                                                            th:text="${role.getRole().substring(5)}">
                                                                    </th:block>
                                                                </option>
                                                            </select>
                                                        </label>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">Close
                                                        </button>
                                                        <button type="submit" class="btn btn-primary">
                                                            Edit
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal fade" th:id="${'DELETE'+user.id}" tabindex="-1"
                                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Delete
                                                        user</h5>
                                                    <button type="button" class="btn-close"
                                                            data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                </div>
                                                <form class="modal-body col-md text-center"
                                                      th:action="@{/admin/{id}/delete(id=${user.getId()})}"
                                                      th:method="DELETE">
                                                    <div class="modal-body col-md">
                                                        <label for="id"><b>ID</b></label>
                                                        <input th:name="id" th:type="text" class="form-control"
                                                               id="id" th:value="${user.id}" disabled/>
                                                        <br>
                                                        <label for="firstname1"><b>First name</b></label>
                                                        <input th:name="firstName" th:type="text"
                                                               class="form-control"
                                                               id="firstname1" th:value="${user.firstName}" disabled/>

                                                        <br>
                                                        <label for="lastname1"><b>Last name</b></label>
                                                        <input th:name="lastName" th:type="text"
                                                               class="form-control"
                                                               id="lastname1" th:value="${user.lastName}" disabled/>

                                                        <br>
                                                        <label for="age1"><b>Age</b></label>
                                                        <input th:name="age" th:type="number"
                                                               class="form-control"
                                                               id="age1" th:value="${user.age}" disabled/>
                                                        <br>
                                                        <label for="email1"><b>email</b></label>
                                                        <input th:name="email" th:type="text"
                                                               class="form-control"
                                                               id="email1" th:value="${user.email}" disabled/>

                                                        <br>
                                                        <label class="container-fluid col-6"
                                                               for="UserRoles">
                                                            <strong>Role</strong>
                                                            <select id="UserRoles"
                                                                    class="form-select"
                                                                    name="roles"
                                                                    multiple size="2" disabled>
                                                                <option th:each="role: ${user.getRoles()}"
                                                                        th:value="${role.getId()}">
                                                                    <th:block
                                                                            th:text="${role.getRole().substring(5)}">
                                                                    </th:block>
                                                                </option>
                                                            </select>
                                                        </label>
                                                    </div>
                                                    <br><br>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">Close
                                                        </button>
                                                        <button type="submit" class="btn btn-danger">Delete
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>