<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link href="https://www.bridgetech.co.id/storage/2021/02/spring-logo.png" rel="icon"/>
    <title>User Page</title>
</head>
<body>
<!--------------Верхняя панель для logout---------------->
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <strong><span id="header_email"></span></strong><span id="header_roles"></span>
    </a>
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
        </li>
    </ul>
</nav>
<!---------------Конец верхней панели---------------->

<!--Начало боковой панели-->
<div class="container-fluid"><!-- создания контейнера полной ширины, занимающий 100% зоны просмотра-->
    <div class="row vh-100"><!-- создаем ряды -->
        <div class="col mt-3 pl-0 bg-white">
            <!-- создаем столбец с белым фоном -->
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a href="/admin" class="nav-link active">Admin</a><!-- активная ссылка -->
                </li>
                <li class="nav-item">
                    <a href="/user" class="nav-link">User</a>
                </li>
            </ul>
        </div>

        <!-- Админ панель с вкладками -->
        <div class="col-10 bg-light">
            <div><h3>Admin panel</h3></div>
            <ul class="nav nav-tabs" id="myTab" role="tablist"> <!-- создание "вкладочного" интерфейса -->
                <li class="nav-item">
                    <a class="nav-link active" id="admin-tab" data-toggle="tab" href="#admin" role="tab"
                       aria-controls="admin" aria-selected="true">User table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="new-tab" data-toggle="tab" href="#new_user" role="tab"
                       aria-controls="new" aria-selected="false">New User</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane fade show active" id="admin" role="tabpanel" aria-labelledby="admin-tab">
                    <div><h5 class="card-header">All users</h5></div>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Age</th>
                            <th scope="col">Email</th>
                            <th scope="col">Role</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </tr>
                        </thead>
                        <tbody id="tBody"></tbody>
                    </table>
                </div>

                <div class="tab-pane fade border" id="new_user" role="tabpanel">
                    <div><h5 class="card-header">Add new user</h5></div>
                    <div class="container bg-white text-center p-3">
                        <form id="formNewUser" style="width: 300px;"
                              class="form-signin mx-auto font-weight-bold">

                            <div class="form-group">
                                <label for="newFirstName" class=" font-weight-bold">First Name</label>
                                <input type="text" name="newFirstName" class="form-control"
                                       id="newFirstName"
                                       placeholder="Enter your first name" required autofocus>
                            </div>

                            <div class="form-group">
                                <label for="newLastName" class=" font-weight-bold">Last Name</label>
                                <input type="text" name="newLastName" class="form-control" id="newLastName"
                                       placeholder="Enter your last name" required>
                            </div>

                            <div class="form-group">
                                <label for="newAge" class=" font-weight-bold">Age</label>
                                <input type="number" name="newAge" class="form-control" id="newAge"
                                       placeholder="Enter your age" required>
                            </div>

                            <div class="form-group">
                                <label for="newEmail" class=" font-weight-bold">E-mail</label>
                                <input type="text" name="newEmail" class="form-control" id="newEmail"
                                       placeholder="Enter your e-mail" required>
                            </div>

                            <div class="form-group">
                                <label for="newPassword" class=" font-weight-bold">Password</label>
                                <input type="password" name="newPassword" class="form-control"
                                       id="newPassword"
                                       placeholder="Enter your password" required>
                            </div>

                            <div>
                                <label class=" font-weight-bold">Roles:</label>
                                <select class="form-control custom-select" size="2" id="newRoles"
                                        name="newRoles"
                                        multiple="multiple" required>
                                    <option value="ROLE_USER" label="ROLE_USER"></option>
                                    <option value="ROLE_ADMIN" label="ROLE_ADMIN"></option>
                                </select>
                            </div>
                            <br>
                            <div>
                                <button onclick="newUser()" type="submit" class="btn btn-success">Add new user</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade pl-3" style="height: 700px;" id="user_panel" role="tabpanel"
             aria-labelledby="user_panel">
            <h1>User information-page</h1>
            <div class="pl-3 pt-1 d-flex border-top border-left border-right"><h4> About user</h4></div>
            <div class="bg-white border p-3">
                <table class="table table-striped border-top">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Age</th>
                        <th>Email</th>
                        <th>Role</th>
                    </tr>
                    </thead>
                    <tbody id="userInfo"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div id="modalWindow"></div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>

<script src="/newUser.js"></script>
<script src="/deleteUser.js"></script>
<script src="/editUser.js"></script>
<script src="/modalDelete.js"></script>
<script src="/modalEdit.js"></script>
<script src="/allRoles.js"></script>
<script src="/allUsers.js"></script>
<script src="/header.js"></script>
<script src="/userInfo.js"></script>

</body>
</html>